@media screen and (max-width:780px) {
.HeaderInner .Nav{
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }
.Nav img{
  width: 60%;
  margin-top: 30px;
  }
.Nav .User{
  display: none;
  }
.Nav ul{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding-left: 0px;
  }
  li{
    font-size: 18px;
    font-weight: 500;
  }
/* MainVisual */
.MainVisual{
  width: 100%;
}
.MainVisual img{
  width: 100%;
}
/* ProductAll */
.ProductAll{

}
.ProductAllInner{
  width: 100%;
  flex-direction: column;
}
/* ProductCard */
.ProductCard{
  margin: auto;
  margin-top: 0px;
}
.ProductCard img{
  width: 100%;
  height: 200px;
}
.ProductCard h3{
  font-size: 14px;
  font-weight: 500;
}
.ProductCard h2{
  display: none;
}
.ProductCard p{
  margin-top: 0px;
  /* margin-bottom: 10px; */
}
  .Footer{
    background-color: #4D4D4D;
    text-align: left;
    line-height: 30px;
  }
  .Footer p{
    color: #fff;
    padding: 2rem 1rem;
    border: 1px solid #000;
    font-size: 13px;
  }
} 